<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dumbphone.flashlight"
    android:installLocation="internalOnly"
    android:versionCode="15"
    android:versionName="0.3.2">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_flashlight"
        android:label="Flashlight"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashlightActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity-alias
            android:name=".FlashlightAlias"
            android:targetActivity=".FlashlightActivity"
            android:enabled="true"
            android:exported="true"
            android:label="Flashlight"
            android:icon="@drawable/ic_flashlight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
